<header>
  <h1>Rainbow Six Siege Tracker</h1>
  <div id="enableR6TrackerDiv">
    <label class="switch">
      <input id="enabler6Tracker" type="checkbox" />
      <span class="slider round"></span>
    </label>
  </div>

  <div id="initR6TrackerDiv">
    <form id="initR6Tracker">
      <input
        type="text"
        name="platform"
        id="platform"
        placeholder="enter platform..."
        required
      />
      <input
        type="text"
        name="username"
        id="username"
        placeholder="enter username..."
        required
      />
      <input value="Connect Account" type="submit" />
    </form>
  </div>

  <div id="main" style="display: none"></div>
</header>
