<!DOCTYPE html>
<html lang="en">
<title>TWDL - Login</title>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="/css/universal-style.css" />
  <link rel="stylesheet" href="/css/index-style.css">
  <script type="module" src="/js/fetchFooter.js"></script>
</head>

<body>
  <header>
    <script type="module" src="/js/fetchNavBar.js"></script>
    <div id="navbar"></div>
  </header>
  <div id="guildList" class="bot-stats"></div>
  <!-- <script src="/js/login/fetch/dsBot.js"></script> -->

  <div class="mainFeatureDiv">
    <div class="featureDiv">
      <h2>Spotify Buddy System</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>

    <div class="featureDiv">
      <h2>Forbidden Activity List</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>

    <div class="featureDiv">
      <h2>CS2 Trading in discord servers</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>

    <div class="featureDiv">
      <h2>Server & Client settings</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>

    <div class="featureDiv">
      <h2>Reaction Roles</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>

    <div class="featureDiv">
      <h2>Welcome Messages</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>

    <div class="featureDiv">
      <h2>Nuke text channels</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>

    <div class="featureDiv">
      <h2>Rainbow rolls for everyone</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse itaque aspernatur culpa, id, ab iste
        exercitationem totam debitis ullam quod magnam iusto delectus dolorem! Facilis earum quod velit corrupti!</p>
    </div>
  </div>
  </div>


  <footer>
    <div id="footer"></div>
  </footer>
</body>

</html>