.inventory {
  position: relative;
  margin: 5px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(8, 1fr);
}

.item {
  text-align: center;
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item>img {
  width: 100px;
}