a {
  cursor: pointer;
}
li {
  cursor: pointer;
}
.top-header {
  display: flex;
}

.api-list li {
  display: inline;
  padding: 10px;
  border-radius: 10px;
  color: white;
  transition: 0.2s ease-in;
}
.api-list li:hover {
  color: #0092ca;
  background-color: white;
  transition: 0.2 ease-in;
}
.client-configuration-container {
  display: flex;
  width: 85%;
}
.client-configuration {
  border: 2px solid #0092ca;
  border-radius: 10px;
  display: 15%;
  color: white;
  margin: 10px;
  list-style: none;
  padding: 10px;
}
.dynamic-page {
  margin: 10px;
  display: flex;
  float: right;
  width: 85%;
}

.client-configuration li {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  text-align: center;
  transition: 0.2 ease-in;
}
.client-configuration li:hover {
  color: #0092ca;
  background-color: white;
  transition: 0.2 ease-in;
}
.server-stats {
  color: white;
  background-color: #0092ca;
  border-radius: 10px;
  margin: 10px;
  width: 12%;
}
.server-stats img {
  margin: 10px;
  border-radius: 50px;
}
.server-stats p {
  margin: 10px;
}
.main-content {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}
.data-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  float: right;
  width: 15%;
  list-style: none;
  overflow-y: scroll;
  height: 90%;
  overflow: hidden;
}
.guild-data-list {
  border: #0092ca solid 2px;
  list-style: none;
  overflow-y: scroll;
  float: right;
  height: 100%;
  width: 88%;
  padding: 10px;
  border-radius: 10px;
}

.search-bar {
  margin: 5px;
  border-radius: 5px;
}

.server-icon {
  width: 25%;
  border-radius: 100px;
}

.user-list-li,
.role-list-li {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border: 2px solid #0092ca;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.user-action-btn {
  margin: 5px;
  width: 8%;
}
.user-list-li:hover {
  background-color: white;
  color: #0092ca;
  transition: 0.2s ease-in;
}
.role-list-li:hover {
  border: 2px solid white;
}
.server-data-list-header {
  position: sticky;
  top: -11;
  background-color: #222831;
  width: 100%;
}
