a {
  cursor: pointer;
}
li {
  cursor: pointer;
}
.top-header {
  display: flex;
}

/* Top Header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #323544;
  width: 80%;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.data-list {
  display: flex;
  gap: 20px;
  width: 80%;
  justify-content: center;
  margin: 20px 0;
  list-style: none;
  overflow-y: scroll;
  height: 90%;
  overflow: hidden;
}
.guild-data-list {
  background: #2b2b3c;
  padding: 15px;
  border-radius: 10px;
  width: 45%;
  /* border: #0092ca solid 2px; */
  list-style: none;
  overflow-y: auto; /* "auto" will show scroll only when needed */
  overflow-x: hidden;
  float: right;
  height: 300px;
}

.user-list-li:hover {
  background-color: white;
  color: #0092ca;
  transition: 0.2s ease-in;
}
.role-list-li:hover {
  border: 2px solid white;
}
.server-data-list-header {
  padding: 5px;
  position: sticky;
  top: -15;
  background-color: #222831;
  border-radius: 10px;
  width: 100%;
}
.server-icon {
  border-radius: 10px;
}

.user-list-li,
.role-list-li {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border: 2px solid #0092ca;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.api-list {
  border: 2px solid #0092ca;
  border-radius: 10px;
  color: white;
  margin: 10px;
  list-style: none;
  padding: 10px;
}

.api-list li {
  display: inline;
  padding: 10px;
  border-radius: 10px;
  color: white;
  transition: 0.2s ease-in;
}
.api-list li:hover {
  color: #0092ca;
  background-color: white;
  transition: 0.2 ease-in;
}

.client-configuration-container {
  width: 25%; /* Adjust width to make space for dynamic content */
  min-width: 200px; /* Ensures it doesn't get too small */
}
.client-configuration {
  border: 2px solid #0092ca;
  border-radius: 10px;
  color: white;
  margin: 10px;
  list-style: none;
  padding: 10px;
}

.client-configuration li {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  text-align: center;
  transition: 0.2 ease-in;
}
.client-configuration li:hover {
  color: #0092ca;
  background-color: white;
  transition: 0.2 ease-in;
}

.dynamic-page {
  background: #2b2b3c;
  padding: 20px;
  border-radius: 10px;
  border: #0092ca solid 2px;
  height: auto;
  min-height: 300px;
  width: 100%;
}
.dynamic-page > header {
  width: 95%;
}

.admin-dynamic-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 200px;
}
